*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.clearfix::after{
    content:"";
    display: table;
    clear:both;
}



header{
    z-index: 2;
    position: fixed;
    top:0;
    right: 0; 
} 

nav{
    display:inline-block;
    margin:10px 30px; 
}

nav ul li{
    list-style-type: none;
      line-height: 80px;
    vertical-align: middle;  
    display: inline-block;  
}

nav ul li a{
    background-color: white;
    text-decoration: none;
    margin:20px;
    padding:10px 15px;
    border-radius: 48%;
    font-size: 1.1em;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    box-shadow:  0 5px rgba(0, 0, 0, 0.349);
    background-color: rgb(219, 219, 219);
}



.full{
    height: 100vh ;
    position:relative;  
}

.red{
    background-color: rgb(204, 40, 40);
}

.green{
    
    background-color: rgb(51, 189, 51);
}

.yellow{
    
    background-color: rgb(240, 240, 65);
}
  
.product{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h2{
    font-size: 4rem;
    color:rgb(217, 255, 0);
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto Slab', serif;  
}

.yellow .product h2{
    color: rgb(0, 255, 0);
}
